:root {
  --primary: #811ac0;
  --background: #171717;
  --grey-500: #212121;
  --grey-600: #414141;
  --grey-700: #717171;
  --grey-800: #c3c3c3;
  --grey-900: #d6d6d6;
  --grey-1000: #e7e6e6;
  --text-color: #f1f1f1;
}
