:root {
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;

  --font-weight-poppins-regular: 400;
  --font-weight-poppins-medium: 500;
  --font-weight-poppins-semibold: 600;
  --font-weight-poppins-bold: 700;

  --font-weight-roboto-regular: 400;
}
